<template>
  <div id="app">
    <div id="header">
      <h1>Metaphrase</h1>
      <input
        type="text"
        id="doc-title"
        placeholder="Your document title"
        v-model="title"
      />
    </div>
    <IO
      :title="title"
      :paragraphs="paragraphs"
      :paragraphOrder="paragraphOrder"
      :languages="languages"
      :languageOrder="languageOrder"
      @initParagraphs="initParagraphs"
    />
    <div id="language-list" class="row">
      <p v-for="(languageId, index) in languageOrder" :key="index" class="box">
        {{ languages[languageId].label }}
      </p>
      <div class="box">
        <Button
          v-if="!this.addLanguageInputVisible"
          @click="
            () => {
              this.addLanguageInputVisible = true;
            }
          "
          >Add language</Button
        >
        <input
          type="text"
          v-if="addLanguageInputVisible"
          v-model="newLanguageLabel"
          @blur="addLanguage"
          @keydown.enter="blur"
          placeholder="New language"
        />
      </div>
    </div>
    <Editor
      :languageOrder="languageOrder"
      :paragraphs="paragraphs"
      :paragraphOrder="paragraphOrder"
      @textChange="onTextChange"
      @addParagraph="addParagraph"
    />
  </div>
</template>

<script>
import Editor from "./components/Editor";
import IO from "./components/IO";

export default {
  name: "App",
  components: {
    Editor,
    IO
  },
  data() {
    return {
      title: "",
      languages: {},
      newLanguageLabel: "",
      paragraphs: {},
      addLanguageInputVisible: false

      // languages: {
      //   "lang0": { label: "English", order: "0" },
      //   "lang1": { label: "French", order: "1"},
      // },
      // paragraphs: {
      //   "0": { lang0: "hello", lang1: "aaaaaaaaaa", order: 0 },
      //   "1": { lang0: "how", lang1: "comment", order: 1 },
      //   "2": { lang0: "you", lang1: "vous", order: 3 },
      //   "3": { lang0: "are", lang1: "allez", order: 2 }
      // }
    };
  },
  computed: {
    languageOrder() {
      return this.orderedKeys(this.languages);
    },
    currentLanguageId() {
      return Object.keys(this.languages).reduce((acc, curr) => {
        const current = parseInt(curr.replace("lang", ""));
        const previous = parseInt(curr.replace("lang", ""));
        return current > previous ? current : previous;
      }, -1);
    },
    paragraphOrder() {
      return this.orderedKeys(this.paragraphs);
    },
    currentParagraphId() {
      return Object.keys(this.paragraphs).reduce((acc, curr) => {
        const current = parseInt(curr);
        const previous = parseInt(acc);
        return current > previous ? current : previous;
      }, -1);
    }
  },
  methods: {
    /**
     * Returns an array of an object's keys, sorted by the `order` value of each entry.
     */
    orderedKeys(obj) {
      const o = obj;
      return Object.keys(o).sort((a, b) => {
        return parseInt(o[a].order) - parseInt(o[b].order);
      });
    },

    /**
     * Initializes a new document based on imported file or raw text.
     */
    initParagraphs(doc) {
      this.title = doc.title;
      this.paragraphs = { ...doc.paragraphs };
      this.languages = { ...doc.languages };
    },

    /**
     * Updates a paragraph in `paragraphs` when its corresponding text box is edited.
     */
    onTextChange(id, language, value) {
      this.paragraphs[id][language] = value;
    },

    /**
     * Adds a new language to the end.
     */
    addLanguage() {
      const newId = this.currentLanguageId + 1;
      this.$set(this.languages, `lang${this.currentLanguageId + 1}`, {
        label: this.newLanguageLabel,
        order: newId
      });

      this.newLanguageLabel = "";
      this.addLanguageInputVisible = false;
    },
    blur(ev) {
      ev.preventDefault();
      ev.target.blur();
    },

    /**
     * Adds a new blank paragraph at the index. If there is no index, adds to the end.
     */
    addParagraph(index) {
      if (index === undefined) {
        const newIndex = this.currentParagraphId + 1;
        this.$set(this.paragraphs, newIndex, {
          order: this.paragraphOrder.length
        });
        this.languageOrder.forEach(languageId => {
          this.$set(this.paragraphs[newIndex], languageId, "");
        });
      } else {
        // TODO: case where there is index
      }
    }
  },
  mounted() {}
};
</script>

<style>
/* Reset */
body,
ul {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}

/* General app-wide styles */
.row {
  display: flex;
}
.box {
  display: flex;
  width: 100%;
  max-width: 33%;
  box-sizing: border-box;
}
.ui {
  font-family: monospace;
  font-size: 1rem;
}
input[type="text"],
textarea {
  border: 0;
  border: 1px solid #ddd;
  padding: 5px;
}
input[type="text"]:hover,
textarea:hover {
  border-color: #777;
}

input[type="text"]:focus,
textarea:focus {
  border-color: black;
}
textarea {
  width: 100%;
  padding: 5px;
}

/* App.vue */
#app {
  padding: 40px;
  padding-top: 40px;
  position: relative;
}
#header {
  margin-bottom: 40px;
}
h1 {
  margin-bottom: 0.2rem;
}
#doc-title {
  border: 0;
  border-bottom: 1px solid transparent;
  font-size: 24px;
}
#doc-title:hover,
#doc-title:focus {
  border-color: black;
}
#language-list p {
  font-weight: 700;
}
#language-list .box {
  align-items: center;
}
</style>
